<!DOCTYPE html>
<html>
<head>
<title>

img {width: 500px; }

body {font-family: Lora;
background-color: #FFFEDE;
color: #FFE8FA;
}

h1, h2, h3 {color: #FF12BE; }

a{color: #FF12BE }

left column {text-align: center;}

.header {background-color: #FFF4FC;
color: lightpink;} 

</title>
</head>
</html>